<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>HomePage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'tendertz/homepagestyle.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2426fea4b2.js" crossorigin="anonymous"></script>
</head>

<body class="back-color">
    <div class="menu-bar">

        <ul class="navbar-one">
            <p class="app-name">Tender TZ</p>
            <div class="drop-div">
                <li><a href="#home">Setup</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'vendorreg' %}">Register as supplier</a>
                    <a href="{% url 'regaclient' %}">Register as Client</a>
                    <!-- <a href="manageclient.html">Manage Client</a> -->
                    <a href="client">Forget Pasword</a>
                </div>
            </div>
            <div class="drop-div">
                <li><a href="#home">Tenders</a></li>
                <div class="dropdown-content">
                    <a href="createbooking.html">Awarded Tenders</a>
                    <a href="{% url 'tenderreg' %}">Create new Tender</a>
                    <a href="viewtender.html">Current Tenders</a>
                    <a href="#">Tenders of Opened Bids</a>
                    <!-- <a href="#">Booking by Day</a> -->
                </div>
            </div>
            <div class="drop-div">
                <li><a href="#home">About </a></li>
                <div class="dropdown-content">
                    <!-- <a href="bookingstoinvoice.html">View Booking to Invoice</a>
                    <a href="#">Invoice Book</a>
                    <a href="#">Reciept Book</a>
                    <a href="#">Credit Notes</a> -->
                </div>
            </div>
            <div class="drop-div">
                <li><a href="#home">Tasks</a></li>
                <div class="dropdown-content">
                    <a href="#">Provision Booking</a>
                    <a href="#">Due Payment</a>
                    <a href="#">license</a>
                    <a href="#">Room ror</a>
                    <a href="#">Data Backupx</a>
                </div>
            </div>
            <div class="drop-div">
                <li><a href="#">Report</a></li>
                <div class="dropdown-content">
                    <a href="reportdatail.html">Daily</a>
                    <a href="">Monthly</a>
                    <a href="#">Yearly</a>
                </div>
            </div>
        </ul>
        {% comment %} <ul class="navbar-two">
            <li><a href="#home">Dashboard_name</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="#user">User Name</a></li>
        </ul> {% endcomment %}
    </div>


    <!--Bars to desplay detais of bookings-->
    <div class="dash-container">
        <!-- Sub Container one for Provisiona Bookings -->
        <a href=" {% url 'tenders' %}">
            <div class="sub-container-1">
                <div class="min-container-1">
                    <p>100</p>
                    <p>Current Tenders</p>
                </div>
                <i class="fa-solid fa-person-circle-exclamation"></i>
            </div>
        </a>
        <!-- Sub Container one for Confirmed Bookings -->
        <div class="sub-container-2">
            <div class="min-container-2">
                <p>100</p>
                <p>Awarded Contracts</p>
            </div>
            <i class="fa-solid fa-person-circle-check"></i>
        </div>

        <div class="sub-container-2">
            <div class="min-container-2">
                <p>100</p>
                <p>Awarded Contracts</p>
            </div>
            <i class="fa-solid fa-person-circle-check"></i>
        </div>
    </div>
    <hr>
    <div class="category">
        <p>Categories</p>
        <div class="sub-category">
            <a href="">
                <div class="sub-box">
                    <p>Air Condition Service (4)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Cleaning Sanitation (5)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Construction Buildings (14)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Debt Collection Service (1)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Generator Services (2)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Goods And Services (41)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Ict Internet Telecom (22)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Motor Vehicles And Fuel (9)</p>
                </div>
            </a>
            <a href="">
                <div class="sub-box">
                    <p>Printing And Stationeries (10)</p>
                </div>
            </a>
        </div>

        
    </div>
    

</body>

</html>