<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'tendertz/viewtenderstyle.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h2>Tender ID:</h2>
    <p>{{tender.tenderid}}</p>
    <hr />
    <div class="client-details">
      <h3>Client Name:</h3>
      <p>{{tender.cliendName}}</p>
    </div>
    <div class="description">
      <h3>Description:</h3>
      <hr />
      <p>
        {{tender.description}}
      </p>
    </div>
    <div class="deadline">
      <h3>Dead Line:</h3>
      <p>{{tender.deadLineDate}}</p>
    </div>

    <div class="deadline">
      <h3>Proqurement Method:</h3>
      <p>{{tender.procure_method}}</p>
    </div>
    <hr />
    <div class="status">
      <h3>Tender Category:</h3>
      <p>{{tender.category}}</p>
    </div>
    <hr />

    <div class="deadline">
      <h3>Financial Value:</h3>
      <p>{{tender.financial_value}}/=</p>
    </div>
    <hr />
    <div>
      <button>Other Details</button>
      <a href="{% url 'application' %}"><button>Start Application</button> </a>
    </div>
  </body>
</html>
